"""
This is the configuration file for the TOSTI fridge client.
"""
from scanners import Camera

SCANNER_CLASS = Camera
CLIENT_SECRET = "[Client Secret]"
CLIENT_ID = "[Client ID]"
API_BASE_URL = "https://tosti.science.ru.nl"

LOCK_CONFIGURATION = [
    {
        "slug": "beerfridge",
        "connected_gpio_pins": [2, 3, 4],
    },
]
